<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link href="D:\Data\Desktop\MIniProj\SecurityPortal\static\phis.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='phis.css')}}">
    <title>Spam Ham Detectipn</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>

    <!--  -->
    <div class="container mt-3  my-3">
        <form action="{{url_for('spam_method')}}" method="post">
            <H1 class="text-center text-3xl">SPAM MAIL DETECTION</H1>
            <br><br><br>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter the message body that you received on your mail </label>
                <!-- <input type="text" class="form-control" name='url' id="url" placeholder="Enter Message"> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Message" rows="5"
                    name="mailmsg"></textarea>

                <!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <div class="mt-8" role="group" aria-label="Basic outlined example">
                <button class="btn btn-outline-dark text-white" role="button" onclick="result()">Check Here To Detect</button>
                <!-- <a href="{{reset}}"><button type="button m-3" class="btn btn-outline-dark text-white">  Reset</button></a> -->
            </div>
        </form>
        <br><br>
        <a href="/"><button type="button m-3" class="btn btn-outline-dark text-white"> Go Back</button></a>


        <br><br><br>
        <div class="card p-3 m-6 bg-slate-950" id="myDIV">
            <h5 class="card-header">Detection</h5>
            <div class="card-body">
                <!-- <h6 class="right h6 text-decoration-underline text-primary-emphasis"><a href={{url}} target="_blank">{{ url }}</a></h6> -->
                {% if SpamRes== 0%}
                <h3 class="h1 text-center" id="predictionspam" style="background-color: lightgreen;"> Mail is Safe</h3>
                <a href="#" class="btn btn-primary"></a>
                {% elif SpamRes==1 %}
                <!-- <i class="fa-regular fa-ban" style="color: #ff0505;"></i> -->
                <h3 class="h1 text-center" id="predictionspam" style="background-color: red;"> Mail is Unsafe (Spam) </h3>
                {% else %}
                <h3 class="h1 text-center" id="predictionspam"> </h3>

                {% endif %}
            </div>
        </div>
    </div>


    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <script>

    </script>


</body>
<!-- function result(){

            let x = '{{ SpamRes }}';

            if (x==0) {
                var label = "Mail is Safe (Not Spam)"
                document.getElementById("prediction").innerHTML = label;

            }

            else {
                var label ="Mail is Spam "
                document.getElementById("prediction").innerHTML = label;

            }

        } -->
</html>